body {
  background-color: rgb(147, 136, 122);
}

#gamefield {
  border: 1px chartreuse solid;
  width: fit-content;
  display: grid;
}

#background {
  grid-area: 1/1;
  width: calc(16 * 32px);
  height: calc(12 * 32px);
}

#items {
  grid-area: 1/1;
}

#characters {
  grid-area: 1/1;
}

#player {
  width: 24px;
  aspect-ratio: 16 /20;
  background-image: url("images/Characters/Character\ 1.png");
  background-size: 400% 400%;
  image-rendering: pixelated;
}

#player.animate {
  animation-duration: 1s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

#player.down {
  background-position: 0% 0%;
  animation-name: down;
}

#player.up {
  background-position: 0% -100%;
  animation-name: up;
}

#player.right {
  background-position: 0% -300%;
  animation-name: right;
}

#player.left {
  background-position: 0% -200%;
  animation-name: left;
}

@keyframes right {
  from {
    background-position: 0% -300%;
  }
  to {
    background-position: -400% -300%;
  }
}

@keyframes left {
  from {
    background-position: 0% -200%;
  }
  to {
    background-position: -400% -200%;
  }
}

@keyframes up {
  from {
    background-position: 0% -100%;
  }
  to {
    background-position: -400% -100%;
  }
}

@keyframes down {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -400% 0%;
  }
}
